@font-face {
  font-family: "SF Pro";
  src: url(../assets/fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF);
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro";
  src: url(../assets/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
  font-family: "SF Pro";
  src: url(../assets/fonts/sf-pro-display/SFPRODISPLAYLIGHTITALIC.OTF);
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url(../assets/fonts/sf-pro-display/SFPRODISPLAYULTRALIGHTITALIC.OTF);
  font-style: italic;
  font-weight: 400;
}

html {
  width: calc(1903rem / 16);
  height: calc(993rem / 16);
  font-family: "SF Pro", -apple-system, Helvetica;
  --main-primary-color: #f5f5f5;
  --task-primary-color: #dc2626;
  --main-secondary-color: #71717a;
  --main-hover-color: #b91c1c;
}

body {
  width: 100%;
  height: 100%;
  & > main {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 4fr;

    & > section:first-child {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: calc(10rem / 16);
      background-color: var(--main-primary-color);
      box-shadow: 10px -1px 26px -6px rgba(0, 0, 0, 0.39);

      & > #projects {
        display: flex;
        flex-direction: column;
        gap: calc(30rem / 16);
        margin: calc(40rem / 16) 0 0 calc(20rem / 16);

        & > div {
          display: flex;
          gap: calc(20rem / 16);

          & > button:first-child {
            width: 80%;
            height: calc(80rem / 16);
            padding: calc(20rem / 16);
            background: none;
            border: none;
            font-weight: 600;
            font-size: calc(35rem / 16);
            text-align: start;
          }

          & > button:first-child:hover {
            color: var(--main-hover-color);
          }

          & > #project-active {
            color: white;
            border: solid 1px transparent;
            border-radius: calc(15rem / 16);
            background-color: #dc2626;
          }

          & > button:nth-child(2) {
            width: calc(25rem / 16);
            border: none;
            background: none;
          }

          & > button:nth-child(2):hover {
            width: calc(25rem / 16);
            background-image: url(../assets/icons/delete-project.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: calc(25rem / 16);
          }

          & > button:nth-child(2):active {
            background-image: url(../assets/icons/delete-project-active.svg);
          }
        }
      }

      & > button:nth-child(2) {
        height: calc(60rem / 16);
        width: 70%;
        margin: calc(30rem / 16) auto 0 auto;
        border: none;
        background-image: url(../assets/icons/add-project.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: calc(30rem / 16);
      }

      & > button:nth-child(2):hover {
        background-image: url(../assets/icons/add-project-hover.svg);
      }

      & > button {
        background: none;
      }
    }

    & > section:nth-child(2) {
      & > ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: calc(100rem / 16);
        padding: calc(20rem / 16);
        margin: 0 0 0 calc(25rem / 16);
        gap: calc(55rem / 16) calc(10rem / 16);

        & > li {
          display: flex;
          width: 90%;
          height: calc(130rem / 16);
          align-items: center;
          gap: calc(20rem / 16);
          border: solid 1px transparent;
          border-radius: calc(25rem / 16);
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
          background-color: var(--task-primary-color);
          list-style-type: none;

          & > button {
            width: calc(30rem / 16);
            height: calc(30rem / 16);
            background: none;
            border: none;
          }

          & > button:first-child {
            margin: 0 0 0 calc(20rem / 16);
            background-image: url(../assets/icons/task-done.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: calc(30rem / 16);
          }

          & > button:first-child:hover {
            background-image: url(../assets/icons/task-done-hover.svg);
          }

          & > p {
            color: #ffffff;
            font-style: italic;
            font-weight: 400;
            font-size: calc(55rem / 16);
            margin: 0 0 calc(12rem / 16) calc(15rem / 16);
          }

          & > button:nth-child(3) {
            width: calc(25rem / 16);
            height: calc(25rem / 16);
            margin: 0 0 0 auto;
            background-image: url(../assets/icons/task-info.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: calc(25rem / 16);
          }

          & > button:nth-child(3):hover {
            background-image: url(../assets/icons/task-info-hover.svg);
          }

          & > button:nth-child(4) {
            width: calc(30rem / 16);
            height: calc(30rem / 16);
            margin: 0 calc(20rem / 16) 0 0;
            background-image: url(../assets/icons/task-delete.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: calc(30rem / 16);
          }

          & > button:nth-child(4):hover {
            background-image: url(../assets/icons/task-delete-hover.svg);
          }
        }
      }
    }

    & > button {
      position: fixed;
      right: calc(50rem / 16);
      bottom: calc(40rem / 16);
      width: calc(100rem / 16);
      height: calc(100rem / 16);
      background: none;
      border: none;
      background-image: url(../assets/icons/add-task.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: calc(100rem / 16);
    }

    & > button:hover {
      background-image: url(../assets/icons/add-task-hover.svg);
    }
  }
  & > #project-form {
    width: calc(400rem / 16);
    border: solid 2px black;
    & > form {
      width: 100%;

      & > div:first-child {
        display: flex;
        width: 100%;
        margin: 0 0 calc(30rem / 16) 0;
        justify-content: space-between;

        & > p {
          width: calc(300rem / 16);
          font-size: calc(35rem / 16);
          margin: 0;
        }

        & > button {
          width: calc(25rem / 16);
          height: calc(25rem / 16);
          margin: calc(7rem / 16) 0 0 0;
          border: none;
          background: none;
          background-image: url(../assets/icons/project-form-back.svg);
          background-position: center;
          background-repeat: none;
          background-size: calc(25rem / 16);
        }

        & > button:hover {
          background-image: url(../assets/icons/project-form-back-hover.svg);
        }
      }

      & > div:nth-child(2) {
        display: flex;
        gap: calc(10rem / 16);

        & > input {
          width: calc(160rem / 16);
          height: calc(35rem / 16);
          text-align: start;
          border: solid 2px #000000;
          border-radius: calc(12rem / 16);
          padding: 0 0 0 calc(7rem / 16);
        }

        & > button {
          width: calc(30rem / 16);
          height: calc(30rem / 16);
          margin: calc(5rem / 16) 0 0 0;
          border: none;
          background: none;
          background-image: url(../assets/icons/project-form-confirm.svg);
          background-position: center;
          background-repeat: none;
          background-size: calc(30rem / 16);
        }

        & > button:hover {
          background-image: url(../assets/icons/project-form-confirm-hover.svg);
        }
      }
    }
  }

  & > #task-form {
    border: solid 2px black;

    & > div {
      display: flex;
      width: 100%;
      justify-content: space-between;

      & > h2 {
        width: calc(300rem / 16);
        font-size: calc(35rem / 16);
        margin: 0 0 calc(30rem / 16);
      }

      & > button {
        width: calc(30rem / 16);
        height: calc(30rem / 16);
        margin: calc(3rem / 16) 0 0 0;
        border: none;
        background: none;
        background-image: url(../assets/icons/project-form-back.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: calc(30rem / 16);
      }

      & > button:hover {
        background-image: url(../assets/icons/project-form-back-hover.svg);
      }
    }
    & > form {
      display: flex;
      width: calc(500rem / 16);
      flex-direction: column;
      gap: calc(15rem / 16);

      & > label {
        font-style: italic;
        font-size: calc(20rem / 16);
      }

      & > input {
        height: calc(35rem / 16);
        border: solid 1px black;
        border-radius: calc(12rem / 16);
        padding: 0 0 0 calc(7rem / 16);
      }

      & > select {
        height: calc(35rem / 16);
        background: none;
        border: solid 1px black;
        border-radius: calc(12rem / 16);
        padding: 0 0 0 calc(7rem / 16);
      }

      & > textarea {
        resize: none;
        padding: calc(5rem / 16);
      }

      & > button {
        width: calc(50rem / 16);
        height: calc(50rem / 16);
        margin: 0 auto;
        border: none;
        background: none;
        background-image: url(../assets/icons/project-form-confirm.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: calc(50rem / 16);
      }

      & > button:hover {
        background-image: url(../assets/icons/project-form-confirm-hover.svg);
      }
    }
  }

  & > #task-info {
    & > dialog {
      width: calc(500rem / 16);
      border: solid 2px black;

      & > div {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        & > h1 {
          width: calc(300rem / 16);
          font-size: calc(35rem / 16);
        }

        & > button {
          width: calc(30rem / 16);
          height: calc(30rem / 16);
          margin: 0 0 calc(2rem / 16) 0;
          border: none;
          background: none;
          background-image: url(../assets/icons/project-form-back.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: calc(30rem / 16);
        }

        & > button:hover {
          background-image: url(../assets/icons/project-form-back-hover.svg);
        }
      }
      & > ul {
        padding: 0;
        & > li {
          list-style-type: none;
          & > p {
            font-size: calc(20rem / 16);
          }
        }
      }
    }
  }
}
